flows.json
[{"id":"0ce68c4c80671ce1","type":"mqtt in","z":"b56fb176a845671a","name":"","topic":"iot/workshop/sensor/sala1/+","qos":"2","datatype":"auto-detect","broker":"ff13c39e1716802e","nl":false,"rap":true,"rh":0,"inputs":0,"x":300,"y":180,"wires":[["6e811ec4b26d2455"]]},{"id":"6e811ec4b26d2455","type":"function","z":"b56fb176a845671a","name":"function 1","func":"// Temperature alert with extra fields\nconst THRESHOLD = 23;                 // adjust as needed\nconst ALERT_TOPIC = 'alerts/temperature';\n\nlet p = msg.payload;\n\n// Accept either JSON string or object\nif (typeof p === 'string') {\n  try { p = JSON.parse(p); } catch (e) { return null; }\n}\n\n// Validate input\nif (!p || typeof p.value !== 'number') return null;\n\n// Trigger only when value > THRESHOLD\nif (p.value > THRESHOLD) {\n  const ts = (typeof p.timestamp === 'number') ? p.timestamp : Date.now()/1000;\n  const iso = new Date(ts * 1000).toISOString();\n\n  msg.topic = ALERT_TOPIC;\n  msg.payload = {\n    message: 'Temperature alert!',\n    measure_id: p.measure_id || null,\n    value: p.value,\n    timestamp: ts,\n    iso_time: iso\n  };\n  return msg; // send to MQTT Out (topic set by msg)\n}\n\n// Drop non-alerts\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":180,"wires":[["f8dc2024b159d7dd"]]},{"id":"f8dc2024b159d7dd","type":"mqtt out","z":"b56fb176a845671a","name":"alert","topic":"/alert","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ff13c39e1716802e","x":730,"y":180,"wires":[]},{"id":"ff13c39e1716802e","type":"mqtt-broker","name":"mosquitto","broker":"mosquitto","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]